@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 217 100% 12%;
    --foreground: 40 47% 87%;
    
    --card: 217 100% 12%;
    --card-foreground: 40 47% 87%;
    
    --popover: 217 100% 12%;
    --popover-foreground: 40 47% 87%;
    
    --primary: 203 41% 39%;
    --primary-foreground: 40 47% 87%;
    
    --secondary: 199 31% 55%;
    --secondary-foreground: 217 100% 12%;
    
    --muted: 199 31% 55%;
    --muted-foreground: 40 47% 80%;
    
    --accent: 40 47% 87%;
    --accent-foreground: 217 100% 12%;
    
    --destructive: 0 84% 60%;
    --destructive-foreground: 40 47% 87%;
    
    --border: 203 41% 39%;
    --input: 203 41% 39%;
    --ring: 203 41% 39%;
    
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

